<!DOCTYPE html>
<html>
<head><style>
  form { display: inline; }
</style>
		<div class="container">
			<div class="jumbotron">
			  <h1>Aqui puedes encontrar todas las necesidades para tu casa </h1> 

			  <p style = "float:left";"display:inline";><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>			  
			  <p style = "float:right";"display:inline";>
			  <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a></p>
			  
			  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d899.0618739746241!2d-100.3244296!3d25.6630892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be22d6397e45%3A0x7d133f3e3e8c1735!2sCalle+16+de+Septiembre+907%2C+Independencia%2C+64720+Monterrey%2C+N.L.!5e0!3m2!1sen!2smx!4v1431492008159" width="1000" height="250" frameborder="0" style="border:0"></iframe>

			</div>
		</div>
	<title></title>
</head>
<body style="background-image:url(http://www.turnercostickers.com/ekmps/shops/turnerco/images/tree-landscape-3d-window-view-wall-art-sticker-16661-p.jpg)" width="100%" >

</body>
</html>